/.vscode
/ALTER TABLE job_applied 1.sql
/ALTER TABLE job_applied 2.sql
/ALTER TABLE job_applied 3.sql
/ALTER TABLE job_applied.sql
/CREATE TABLE job_applied (.sql
/csv_files
/DROP TABLE job_applied;.sql
/INSERT INTO job_applied.sql
/UPDATE job_applied.sql